body,html {
  height: 100%;
  width: 100%;
  background-image: url("img/contact_waves.svg");

  background-repeat: no-repeat;
  background-size: cover;
  color:black;
  background-color: #ae3a5b;
}

form {
  width: 90%
}

nav {
  background-color: #f28dab;
}

nav {
  padding: 10px;
  z-index: 10px;
}

.active {
  /*text-decoration: underline;
  text-decoration-color: #E75480;
  text-decoration-thickness: 5px; */
  background-color: #E75480;
  border: 0;
  border-radius: 30px;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;

}

#pink-waves {
  margin-bottom: -50px;
  z-index:0;
  top: 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#email-div, #socials-div{
  width: 40%;
  margin: 10px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 20px;
  padding: 20px;

  background-color: #f28dab;
}

#socials-div {
  display: flex; 
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  font-size: 20px;
}

.socials {
  text-decoration: underline;
  text-decoration-color: #E75480;
  text-decoration-thickness: 5px;
}

#contact-container {
  width:100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
   
  
}

h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: bold;
}

h4 {
  text-align: center;
}

#socials-div  > p > a {
  text-decoration: none;
  color: black;
}

#contact-content {
  /*position: absolute;
  width: 100%;
  margin-top: 150px; */
  position: relative;
  margin-top:150px;
}

.footer {
  margin-top:50px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top:50px;    
  position: relative;
  background-color: #f28dab;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.col-sm > h4{
  text-align: center;
  font-size:20px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #E75480;
}


.col-sm > a{
  text-decoration: underline;
  text-decoration-color: black;
  color:black;
}

.contact-footer > a{
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar-nav{
    padding: 20px;
  }

  #contact-container {
    flex-direction: column;
    justify-content: center;
  }

  #socials-div, #email-div {
    width: 90%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
}


